.notific-cont {
  position: absolute;
  right: 100px;
  top: 150px;
  width: 225px;
  min-height: 150px;
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-color),
    var(--tertiary-color)
  );
  border-radius: 10px;
  display: flex;
  justify-content: center;
  z-index: 5;
}
.notific-cont p {
  padding: 1rem;
  text-align: start;
  width: 100%;
}
.notific-cont button {
  margin: 1rem 1rem;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
