.logo-img {
  margin: 4.5rem auto 0 auto;
  max-height: 70px;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 625px;
  height: 58vh;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  margin-top: 1rem;
}
form h2 {
  font-weight: 500;
  padding-bottom: 0.5rem;
}
form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  padding: 0.5rem 0;
}
form div label {
  width: 100%;
  padding-bottom: 0.2rem;
  font-weight: 500;
}
form div > input {
  padding: 0.5rem;
  font-size: 20px;
}
form div > input:focus {
  outline: none;
  border: var(--secondary-color) 2px solid;
}
form > input {
  border: 1px solid black;
  height: 40px;
  width: 150px;
  margin-top: 0.7rem;
  cursor: pointer;
  opacity: 0.7;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
}
form > input:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }
  .logo {
    margin: 1rem auto;
  }
  .form-container {
    flex-direction: column-reverse;
    height: auto;
  }
  form {
    justify-content: center;
    height: auto;
  }
  form:first-child {
    margin: 2rem auto;
  }
}
